[submodule "Surelog"]
	path = Surelog
	url = https://github.com/chipsalliance/Surelog.git
[submodule "uhdm-integration"]
	path = uhdm-integration
	url = https://github.com/chipsalliance/UHDM-integration-tests.git
[submodule "vcddiff"]
	path = vcddiff
	url = https://github.com/veripool/vcddiff.git
[submodule "uhdm-tests/ibex/ibex"]
	path = uhdm-tests/ibex/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "uhdm-tests/opentitan/opentitan"]
	path = uhdm-tests/opentitan/opentitan-current
	url = https://github.com/lowRISC/opentitan.git
[submodule "uhdm-tests/opentitan-210214"]
	path = uhdm-tests/opentitan/opentitan-210214
	url = https://github.com/lowRISC/opentitan.git
[submodule "uhdm-tests/swerv/swerv"]
	path = uhdm-tests/swerv/swerv
	url = https://github.com/chipsalliance/Cores-SweRV/
[submodule "uhdm-tests/serv/serv"]
	path = uhdm-tests/serv/serv
	url = https://github.com/olofk/serv.git
